[pull]
	ff = only
[user]
	email = rafidka@gmail.com
	name = Rafid Al-Humaimidi
[alias]
	st = status
    co = checkout
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit --graph -30
[core]
	editor = vim
	pager = bat --plain --pager never
	excludesFile = ~/.gitignore_global
[commit]
	gpgSign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

